/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Container */
body {
   font-family: Arial, sans-serif;
   line-height: 1.6;
   margin: 0; /* 40px; */
   padding: 0;
}

 h2, h3 {
      color: #333;
    }
 .section {
      margin-bottom: 30px;
 }
 .pros-cons {
      display: flex;
      gap: 20px;
 }
 .pros-cons div {
      flex: 1;
      background-color: #f9f9f9;
      border-radius: 10px;
      padding: 15px;
      border: 1px solid #ddd;
 }
 pre {
      background-color: #f4f4f4;
      padding: 15px;
      border-left: 4px solid #007ACC;
      overflow-x: auto;
    }
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	/* padding: 20px; */
}

 .text-content {
    flex: 1;
    padding-right: 0px;
	padding-left: 300px;
    min-width: 250px;
	font-size: 1rem;
    line-height: 1.6;
 }


/*
.image {
   flex: 0 0 40%;
   max-width: 450px;
   margin-left: 25px;

}
*/

.image {
    flex: 1;
    max-width: 30%;
	margin-left: 25px;
}

/* Styling the image to make it responsive */
.image img {
    width: 50;
    height: auto;
    border-radius: 8px;
}

 h2 {
  color: #16a085;
 }
 /*
  p {
   margin: 10px 0;
}
*/
/* Paragraph text styling */
p {
    font-size: 1rem;
    line-height: 1.6;
}

 ul {
   list-style-type: disc;
   margin-left: 20px;
}

/* Slim pagination buttons */
.slim-button {
    text-decoration: none;
    color: #16a085;
    font-size: 16px;
    padding: 5px;
    margin: 0 10px;
    border-radius: 3px;
}

.slim-button:hover {
    text-decoration: underline;
    color: #2c3e50;
}


.pagination {
    text-align: center;
    margin: 20px 0;
}
.pagination a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #16a085;
    color: white;
    border-radius: 5px;
    margin: 0 5px;
}

.back-to-top {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: #16a085;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
 }

  .back-to-top:hover {
   background-color: #2c3e50;
}
 .nav-buttons {
            display: none; /* Initially hidden */
            text-align: center;
            margin-top: 20px;
        }
 .nav-buttons button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            margin: 5px;
        }

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px 0;
}

/* sidebar CSS */
.sidebar {
    width: 260px; /* 250px */
	position: fixed;
    background-color: #2c3e50;
    color: white;
    padding: 8px; /* 20px */
    height: 110vh;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    margin: 15px 0;
}

.menu-item {
    text-decoration: none;
    color: white;
    font-size: 16px; /* 18 */
    display: block;
    padding: 5px; /* 8px */
    background-color: #34495e;
    border-radius: 2.5px; /* 5 */
}

.submenu-items {
    display: none;
    margin-top: 5px; /* 10*/
    padding-left: 8px; /* 20*/
}

.submenu.open .submenu-items {
    display: block;
}

/* Styling for submenu links (white color) */
.submenu-link {
    text-decoration: none;
    color: white; /* Ensuring submenu links are white */
    font-size: 16px;
    display: block;
    padding: 5px;
    background-color: #555;
    border-radius: 5px;
    margin-bottom: 5px;	
}

.submenu-link:hover {
    background-color: #666;
}


/* Content */
.content {
    margin-left: 250px; /* Same width as the sidebar + left position in px */
	padding: 20px;
    flex-grow: 1;
}

/* Hover Effect for Menu Item */
.menu-item:hover {
    background-color: #34495e;
    border-radius: 5px;
}
/* Footer Styles */
 .footer {
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            padding: 1px;
            background-color: #f8f9fa;
            position: fixed;
            bottom: 0;
            width: 100%;
			box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        }

        .footer a {
            text-decoration: none;
            color: #555;
        }

        .footer a:hover {
            color: #000;
        }

/* Add a bit of responsiveness for smaller devices */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .content {
        max-width: 90%;
    }

    .image {
        max-width: 50%;
        margin-top: 20px;
    }
}

/* image enlarge on click CSS */
/* Modal Background */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

/* Close Button */
.modal .close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

/* Modal Image */
.modal-content {
  margin-top: 50px;
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

/* Thumbnail Style */
.thumbnail {
  width: 60%;
  cursor: zoom-in;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Zoom Animation */
@keyframes zoom {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-animation {
  animation: zoom 0.4s ease-out;
}

/* CSS for table*/
    table {
      width: 90%; /* 100% */
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: #f8f8f8;
    }